#root {
	max-width: 85rem;
	margin: 0 auto;
	padding: 2rem;
}

.App {
	display: flex;
	flex-wrap: wrap;
	column-gap: 2rem;

	& h1 {
		width: 100%;
	}

	& > *:not(h1) {
		background-color: rgb(0, 0, 52);
		flex-grow: 1;
		padding: 1rem 2rem 2rem;
	}
}

#trackingForm {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
}
